/* *{
border: solid red 1px;
} */
.color {
    margin-left: .1px;
    display: flex;
    justify-content: start;
    background-color: rgb(205, 205, 205);
    width: 270px;
    border-radius: 6px;
   
}

p{
    color: grey;
    margin-top: 5px;
    margin-left: 10px;
}
